li {
  list-style: none;
  margin: 7px;
  width: 325px;
  margin-top: 15px;
  height: 275px;
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    h1 {
      font-family: 'Nanum Brush Script', cursive;
      font-size: 30px;
      color: black;
      margin-bottom: 5px;
      margin-top: 2px;
    }

    img:hover {
      width: 225px;
      height: 225px
    }
  }

  

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: width 1s, height 1s;
  }


}